/* general */

h1 {
    font-size:50px;
}
 
h3 {
    font-size:22px;
    display: inline;
    /* default values */
    font-weight: bold;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    background: white;
    padding: 20px;
}

body{  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
}

canvas{

    width:600px !important;
    height:600px !important;
    
  }

.white {
    background: white;
    padding: 20px;
}

.logimg{
    background-image: url("img/test1.jpg");
    background-size: 100%;
}


.body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-style: solid;
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:20px;
    color:#000;
  }

.title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: Impact, 'Arial Bold', sans-serif;
    font-size: 40px;
    color: rgb(244, 242, 248);
}

/* specific */

.login {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-style: solid;
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:20px;
    color:#000;

    /* background-image: url("img/test1.jpg"); */
    /* background-size: 100%; */
  }

.profile {
    display: flex;
    flex-flow: column wrap;
    border-style: solid;
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:20px;
    color:#000;
  }

  .signup {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    border-style: solid;
    font-family:Georgia, Arial, Helvetica;
    font-size:20px;
    color:#000;
    background: white;
    padding: 20px;
  }

  .ctitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    color: black;
}

.left{
    align-items: left;
    display: inline-block;
}

#center{
    align-items: center  !important; 
    display: inline-block;
}
  
.dashbody {
    display: flex;
    flex-flow: column wrap;
    border-style: solid;
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:20px;
    color:#000;
  }
  
/* temp css */

#content-wrapper {
    width:960px;
    text-align:left;
    margin:0 auto;
    background:#fff;
    padding:15px;
     
}
 
#header{
    width:960px;
    height:120px;
}
 
#post-content {
    float:left;
    width:600px;
    padding:0 15px 15px 15px;
}
 
.sidebar{
    float:left;
    width:300px;
    margin:0 0 0 15px;
    font-size:15px;
    list-style:none;
}
 
#footer{
    height: 60px;
    background: #fff;
    padding: 15px;
    clear:both;
}



.navbar {
    background: darkblue;
  }
  .nav-link,
  .navbar-brand {
    color: orange;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  

